 #root{
  background: rgb(35,36,43);
  background: linear-gradient(90deg, rgba(35,36,43,1) 0%, rgba(0,96,97,1) 0%, rgba(38,44,58,1) 0%, rgba(25,29,38,1) 0%, rgba(14,14,17,1) 100%, rgba(17,20,25,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
 }